---
import { Image } from "astro:assets";

import type { Streamer } from "../types/streamer";
import { fetchStreamersData } from "../libs/streamer";

import Layout from "../layouts/Layout.astro";

import LinkButton from "../components/LinkButton.astro";
import Card from "../components/Card.astro";

const streamData = await fetchStreamersData();
const streamer = streamData.streamer as Streamer[];

function extractTwitchIds(streamer: Streamer[]) {
    return streamer.map(item => item.twitchId).join("/");
}
const multiStreamLink = `https://twitchtheater.tv/${extractTwitchIds(
    streamer
)}`;
---

<Layout title="NOLIMIT Streamer">
    <div class="container">
        <main>
            <section>
                <h1 class="heading-1">Hello <span>NOLIMIT.</span></h1>
                <ul class="list">
                    {
                        streamer.map(person => (
                            <Card {...person}>{person.name}</Card>
                        ))
                    }
                </ul>
                <div class="link-btn">
                    <LinkButton
                        link={multiStreamLink}
                        text="複窓で配信を見る"
                        isExternal={true}
                    />
                </div>
            </section>
            <div class="bg-overlay">
                <Image
                    src="https://nolimit.imgix.net/bg-right.png?auto=format&fit=max&w=1256&h=1248"
                    alt=""
                    width="1256"
                    height="1248"
                    loading={"eager"}
                />
            </div>
        </main>
    </div>
</Layout>

<style>
    main {
        display: grid;
        width: 100%;
        margin: auto;
        font-size: 2rem;
        line-height: 1.6;
    }
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 48px 0 0 0;
        padding: 0;
        list-style: none;
        gap: 32px;
    }
    .container {
        display: grid;
        width: 908px;
        min-height: 100svh;
        max-width: 100%;
        margin-inline: auto;
        padding: 32px 24px;
        overflow: hidden;
        align-content: baseline;
    }
    .heading-1 {
        letter-spacing: -0.08rem;
        font-size: 4em;
        font-weight: 700;
        margin: 0;
        line-height: 1.12;
    }
    .heading-1 span {
        background: -webkit-linear-gradient(238deg, #ffb457, #ff705b, #ff47d1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        animation: fadeIn 420ms cubic-bezier(0, 0.47, 0.71, 0.82) 500ms forwards;
    }
    .link-btn {
        display: grid;
        width: 100%;
        place-content: center;
        margin-top: 48px;
    }
    .bg-overlay {
        position: fixed;
        bottom: calc(-50% - 133px);
        left: 34%;
        z-index: -1;
        transform: rotate(291deg);
    }
    @media screen and (max-width: 768px) {
        .heading-1 {
            font-size: calc(74 / 400 * 100vw);
        }
        .list {
            grid-template-columns: repeat(1, 1fr);
        }
        .bg-overlay {
            left: -30vw;
            top: 44%;
            transform: rotate(98deg);
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
