---
import type { Streamer } from "../types/streamer";
import { fetchStreamersData } from "../libs/streamer";

import Layout from "../layouts/Layout.astro";

const streamData = await fetchStreamersData();
const streamer = streamData.streamer as Streamer[];
---

<Layout title="NOLIMIT Streamer">
    <main>
        <h1>Hello Astro World</h1>
        <ul>
            {streamer.map(item => <li>{item.name}</li>)}
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
