---
interface Props {
    name: string;
    stgrName: string;
    twitchId: string;
}

const { name, stgrName, twitchId } = Astro.props;
---

<li class="link-card">
    <hgroup>
        <h2>
            {stgrName}
        </h2>
        <p>{name}</p>
    </hgroup>
    <p>
        {twitchId}
    </p>
</li>
<style>
    .link-card {
        color: var(--text-color);
    }
    .link-card:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
    }
    .link-card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent-light));
    }
    h2 {
        font-weight: 700;
        margin: 0;
    }
    p {
        margin: 0;
    }
</style>
